html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Стили для боковой панели */
.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    /* Стили для макета */
    background-color: #c6a2d1;
    color: #4b2e67;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Шапка*/
.sidebar-header {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
}

.logo-image {
    width: 132px;
    height: 181px;
    display: block;
    margin: 0 auto 10px auto;
}

/* Навигация*/
.sidebar-nav {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px 20px;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
    background-color: #EBC2F8;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    box-sizing: border-box;
    border-radius: 8px;
}

.nav-button:hover {
    background-color: #AE58CA;
}

/* "История" */
.history-list {
    padding: 10px 20px;
}

.history-item {
    display: block;
    padding: 8px 20px 8px 40px;
    text-decoration: none;
    color: inherit;
    background-color: #EBC2F8;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 8px;
    margin-bottom: 5px;
}

.history-item:hover {
    background-color: #AE58CA;
}

.history-item.active {
    background-color: #AE58CA;
    color: white;
}

/* "Информация" */
.info-button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
    background-color: #EBC2F8;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;
    margin-top: 20px;
    margin: 20px 20px 20px 20px;
    width: calc(100% - 40px);
    border-radius: 8px;
}

.info-button:hover {
    background-color: #AE58CA;
}